* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightskyblue;
}

span {
  line-height: auto;
}

.main_container {
  height: 100vh;
}

.hidden_file_input {
  position: absolute;
  top: -1000px;
}

.timeline_header {
  min-height: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  padding: 2rem;
  align-items: end;
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
}

.pinned_bar {
  display: flex;
  /* border: 5px solid; */
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  height: 6rem;
  left: 0;
  top: 4rem;
  padding: 1rem;
  background-color: deepskyblue;
  /* border: 1rem solid lightgrey; */
}

.pinned_bar_remove {
margin-left: auto;
cursor: pointer;
color: dimgray;
font-weight: bold;
line-height: 1;
text-align: center;
height: 2rem;
width: 2rem;
font-size: 2rem;
}

.pinned_bar_remove:hover {
  color: white;  
}

.pinned_bar_content {
  cursor: pointer;
  align-self: center;
  border-left: 0.5rem solid dimgray;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
}

.pinned_bar_content:hover {
  border-left: 0.5rem solid white;
}

.pinned_bar_content img, .pinned_bar_content audio, .pinned_bar_content video {
  max-height: 100%;
}
  

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid ghostwhite;
  border-radius: 10px;
  box-sizing: border-box;
  width: 480px;
  background-color: ghostwhite;
}

.drop_box {
  border: 5px dashed ghostwhite;
  border-radius: 50px;
  width: 320px;
  height: 320px;
  background-color: transparent;
  color: ghostwhite;
  font-size: 2rem;
  text-align: center;
}

.drop_box div {
  margin: auto;
}

.modal_content div>p {
  margin-bottom: 1rem;
}

.modal_form {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
}

.timeline_form {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2rem;
  align-items: end;
  background-color: steelblue;
}

.modal_form_controls {
  align-self: end;
}

.modal_input {
  box-sizing: border-box;
  align-self: stretch;
  border: 1px solid ghostwhite;
  border-radius: 10px;
  padding: 1.0rem 0.5rem;
  margin-bottom: 1rem;
  resize: none;
}

.modal_footer {
  margin-bottom: 1rem;
  color: red;
  font-size: 0.625rem;
}

.modal_button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 5px;
} 

button:focus {
  box-shadow: 0 0 5px;  
}

.timeline_widget {
  min-width: 480px;
  padding: 1rem;
  background-color: lightskyblue;
}

.timeline_posts {
  margin-top: 2rem;
  margin-bottom: 6rem;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 0.625rem;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  /* overflow-y: scroll; */
}

.post_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 1rem;
  border: solid 1px lightblue;
  border-radius: 10px;
  padding: 1rem;
  background-color: lightblue;
  width: 50%;
}

.post_content span:first-child {
  /* align-self: end; */
  margin-left: auto;
}

.post_content .content {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  /* overflow: auto; */
  overflow-wrap: anywhere;
}

.post_content img, .post_content audio, .post_content video {
  max-width: 100%;
}

.post_content a {
  text-decoration: none;  
  color: black;
}

.post_content a:hover {
  color: ghostwhite;
}

.post_content a:visited {
  color: none;
}

.content_download {
  cursor: pointer;
}

.content_download:hover {
  color: ghostwhite;
}

.post_footer_bar {
  display: flex;
  height: 1rem;
}

.coordinates {
  margin-right: auto;
}

/* .pin_icon {
  margin-left: auto;
} */

.pin_icon:hover {
  cursor: pointer;
  /* display: block; */
}

.fav_icon {
  margin-left: 0.5rem;
}

.fav_icon:hover {
  cursor: pointer;
  /* display: block; */
}

/* .active {
  display: block;
} */

.video_player {  
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
    position: fixed;
    bottom: 7rem;
    left: 0;
    padding: 2rem 2rem 0 2rem;
    background-color: steelblue;
  }

.timeline_input {
  border-radius: 25px;
  align-self: stretch;
  padding: 1rem;
  resize: none;
}

.timeline_controls {
  display: flex;
  position: absolute;
  z-index: 1;
  right: 2rem;
}

.timeline_button {  
  min-width: 2rem;
  min-height: 2rem;
  margin-right: 1rem;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.timeline_button:hover {
  background-color: lightgreen;
  border-color: lightgreen;
  font-weight: bold;
} 

.timeline_record_time {
  margin-right: 1rem;
  padding: 0.5rem 0;
}

.timeline_record_time span {
  vertical-align: middle;
}

/* .header_controls {
  position: static;
  margin-left: auto;
} */

.invalid {
  border: 1px solid red;
}

.hidden {
  display: none;
}
